POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pricetag
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEBUG=false
MAX_IMAGE_SIZE_MB=10

# Переключить в true когда ML-разработчик подключит модели
USE_ML=false
# YOLO_MODEL_PATH=weights/yolov8n.pt
# OCR_LANG=ru
