POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pricetag
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEBUG=false
MAX_IMAGE_SIZE_MB=10
CENTER_CROP_RATIO=0.72

USE_ML=true
OCR_ENGINE=tesseract
OCR_LANG=ru
TESSERACT_LANG=rus+eng
# TESSERACT_CMD=tesseract
# YOLO_MODEL_PATH=weights/yolov8n.pt
