fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
pydantic==2.10.3
pydantic-settings==2.6.1
python-multipart==0.0.18

# ML (раскомментировать когда ML-разработчик подключит модели)
# opencv-python==4.10.0.84
# paddleocr==2.9.1
# ultralytics==8.3.46
# numpy==1.26.4
